<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h2>here is your post to edit</h2>
    <h4> <%= post.id %></h4>
    <h4><%= post.username %></h4>
    <form method="post" action="/posts/<%=post.id%>?_method=patch">
    <textarea cols="30" rows="20" name="content" id="content" placeholder="<%=post.content%>"></textarea>
    <button>submit</button>
   </form>
</body>
</html>