<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <form method="post" action="/posts">
   Username: <input type="text" placeholder="write username" name="username"> <br> <br>
   Content: <br>
   <textarea cols="30" rows="20" name="content" placeholder="write content"></textarea> <br> 
    <button class="new">Post</button>
   </form> 
</body>
</html>